@charset 'UTF-8';
body{
    text-align: center;
}
p{
    font-weight: bold;
    color: #999;
}
input {
	cursor:pointer;/*カーソルをポインターに*/
	-webkit-appearance: none;/*iOS Safariのデフォルトスタイルをクリア*/
	border-style:none;/*デフォルトのボーダークリア*/
	font-size:130%;
	font-weight:bold;
	color: #fff;
	margin:.5em .5em .5em 0;
	padding:.3em 0 .4em;
	width:auto;
    padding: 10px;
	background:#90E733;/*背景色を指定*/
	-webkit-border-radius: 5px;/*iOS Safari用のボックスの角丸の指定*/
	border-radius: 5px;/*ボックスの角丸の指定*/
	-webkit-box-shadow: 0 2px 2px 0 #666;/*iOS Safari用ボックスシャドウ*/
	box-shadow: 0 2px 2px 0 #666;/*ボックスシャドウ*/
	text-shadow: 1px 1px 2px #000; /*テキストシャドウ*/
}
/*↓マウスオーバー時の変化。ここでは背景色だけ変更*/
input:hover {
	background-color: #54980C;
}
